<body>
    <header>
        <h1>TourQ</h1>

        <div>
            <img src="user-picture.jpg" alt="User Picture" width="50" height="50">
            <span>User Name</span>  <!-- {{username}}-->
        </div>

        <form action="/search" method="get">
            <input type="text" id="search" name="search" placeholder="Search...">
            <input type="submit" value="Search">
        </form>


        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/checklist">Checklist</a></li>
                <li><a href="settings">Settings</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="settings section">
            <h2>Preferences</h2>
            <ul>
                <li><a class="option" href="#">Language</a></li>
                <li><a class="option" href="#">Planned Suggested Trips</a></li>
                <li><a class="option" href="#">Notfication settings</a></li>
            </ul>
        </div>
        <div class="settings section">
            <h2>Information</h2>
            <ul>
                <li><a class="option" href="#">Weather Forecast</a></li>
                <li><a class="option" href="#">Traffic</a></li>
                <li><a class="option" href="#">Third-Party Servives</a></li>
            </ul>
        </div>
        <div class="settings section">
            <h2>Emergency Contact</h2>
            <ul>
                <li><a class="option" href="#">Police</a></li>
                <li><a class="option" href="#">Hospital</a></li>
                <li><a class="option" href="#">Embassy</a></li>
            </ul>
        </div>
    </div>
    
</body>