<body>
    <div class="container">
        <div class="checklist">
            <h2>My Checklist</h2>
            <ul class="checklist-items">
                <!-- Checklist will be dynamically added here -->
            </ul>
            <form class="add-checklist-item">
                <input type="text" id="item-input" placeholder="Enter a new item">
                <button type="button">Add Item</button>

            </form>
        </div>
    </div>
</body>