<body>
    <header>
        <h1>TourQ</h1>

        <div>
            <img src="user-picture.jpg" alt="User Picture" width="50" height="50">
            <span>User Name</span>  <!-- {{username}}-->
        </div>

        <form action="/search" method="get">
            <input type="text" id="search" name="search" placeholder="Search...">
            <input type="submit" value="Search">
        </form>

        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/checklist">Checklist</a></li>
                <li><a href="settings">Settings</a></li>
            </ul>
        </nav>
    </header>

    <div>
        <h2>About TourQ</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan magna sit amet ante sagittis, nec tempus nisl mollis. Cras consequat sapien in metus luctus, in sagittis tortor consectetur. Aliquam erat volutpat.</p>
    </div>

    <div class="container">
        <div class="popular-destinations">
            <h2>Popular Destinations</h2>
            <div class="destination">
                <img src="destination1.jpg" alt="Destination 1">
                <div>
                    <h3>Destination 1</h3>
                    <p>Description of Destination 1</p>
                </div>
            </div>
            <div class="destination">
                <img src="destination2.jpg" alt="Destination 2">
                <div>
                    <h3>Destination 2</h3>
                    <p>Description of Destination 2</p>
                </div>
            </div>
            <div class="destination">
                <img src="destination3.jpg" alt="Destination 3">
                <div>
                    <h3>Destination 3</h3>
                    <p>Description of Destination 3</p>
                </div>
            </div>
            <!-- Add more destinations if needed -->
        </div>
        
    </div>
</body>