<html>
  <head>
    <title>Language</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
<style>
  .lang{
    padding-right: 30%;
    padding-left: 30%;
  }

  .flag-icon{
    padding-right: 5px;
  }
</style>
  </head>

<body>
  <div class="container">
  <h2>Language Settings</h2>
  <div class = "lang">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-qa"></span>Arabic</button>
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-us"></span>English</button>
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-fr"></span>French</button>
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-de"></span>German</button>
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-es"></span>Spanish</button>
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-in"></span>Hindi</button>
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-pk"></span>Urdu</button>
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-ru"></span>Russian</button>
      <button class="btn btn--block card__btn" type="button"><span class="flag-icon flag-icon-cn"></span>Chinese</button>
      
    </div>
  </div>
  </div>
    
</body>
<footer></footer>
</html>