<body>
  <h2>Language</h2>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="button">Arabic</button>
      <button class="btn btn-primary" type="button">English</button>
      <button class="btn btn-primary" type="button">French</button>
      <button class="btn btn-primary" type="button">German</button>
      <button class="btn btn-primary" type="button">Spanish</button>
    </div>
</body>