<body>
    <header>
        <h1>TourQ</h1>

        <div>
            <img src="user-picture.jpg" alt="User Picture" width="50" height="50">
            <span>User Name</span>
        </div>

        <form action="/search" method="get">
            <input type="text" id="search" name="search" placeholder="Search...">
            <input type="submit" value="Search">
        </form>


        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/checklist">Checklist</a></li>
                <li><a href="settings">Settings</a></li>
            </ul>
        </nav>
    </header>
        
    
</body>