<h1>Settings</h1>
<div class="container">
    <h2>General</h2>
    <div class="container">
        <ul>
            <li>Notifications</li>
            <li>B</li>
            <li>C</li>
        </ul>
    </div>
    <h2>Emergency Services</h2>
    <div class="container">
        
    </div>
</div>