<body>
    <div class="container">
        <div class="settings section">
            <h2>Preferences</h2>

            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn btn-primary">Language</a>
                    </div>
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn btn-primary">Planned Suggested Trips</a>
                    </div>
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn">Notfication settings</a>
                    </div>
                </div>
            </div>

            <h2>Information</h2>

            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn btn-primary">Weather Forecast</a>
                    </div>
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn btn-primary">Traffic</a>
                    </div>
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn btn-primary">Third-Party Servives</a>
                    </div>
                </div>
            </div>

            <h2>Emergency Contact</h2>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn btn-primary">Police</a>
                    </div>
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn btn-primary">Hospital</a>
                    </div>
                    <div class="col">
                        <a href="https://mia.org.qa/en/" class="btn btn-primary">Embassy</a>
                    </div>
                </div>
            </div>


        </div>
        
    </div>
    
</body>
</br>
</br>